<% layout("./layouts/boilerplate.ejs") %>
<div class="show-listing mt-3">
  <h3 class="title"><b><%= listing.title %></b></h3>
  <div class="show-img">
    <img src="<%= listing.image.url %>" alt="listing_image" />
  </div>
  <div class="listing-details"></div>
  <p>Owned by <i><%= listing.owner.username %></i></p>
  <p><%= listing.description %></p>
  <p>&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
  <p><%= listing.location %></p>
  <p><%= listing.country %></p>
  <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
  <div class="show-btns mt-4 mb-4">
    <button class="btn btn-dark edit-btn">
      <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
    </button>
    <form method="post" action="/listings/<%= listing.id %>?_method=Delete">
      <button class="btn btn-dark">Delete your listing</button>
    </form>
  </div>
  <% } %>
  <hr />
  <%if(currUser) { %>
  <div>
    <h4>Leave a Review</h4>
    <form
      method="post"
      action="/listings/<%= listing.id %>/reviews"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          class="form-control"
          rows="5"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comment for review</div>
      </div>

      <button class="btn btn-outline-dark mb-3">Submit</button>
    </form>
  </div>
  <hr />
  <% } %>

  <div>
    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(let review of listing.reviews) { %>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p class="card-text"><%= review.comment %></p>
        </div>

        <form
          class="mb-2"
          method="post"
          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
        >
          <button class="btn btn-dark btn-sm">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</div>
